/.Rhistory
/.RData
/.Rproj.user/
/.DS_Store
/data/*
!/data/README.md
!/data/.gitkeep
/figures/
/results/
*.RData
*.rds
*.h5
*.h5ad
*.loom
*.mtx
*.tsv.gz
*.bed.gz
*.bam
*.bai
*.pdf
*.png
*.tif
*.tiff
*.jpg
*.jpeg
*.xlsx
*.xls
*.csv
*.html
